@import "tailwindcss";

:root {
  font-family: "Figtree", sans-serif;
}
h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 1.2;
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
}

h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.2;
}

h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.2;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 767px) {
  h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2;
  }

  h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
  }

  h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
  }

  h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.2;
  }

  h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.2;
  }

  h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
  }
}
